body {
    margin: 0;
    background-color: rgb(27,36,74);
    font-family: "Roboto", sans-serif; /* It is in the body where you decide the major font for the project. Note! Buttons often do not inherit font, you need to target them by class or write property font-family: inherit. */
    font-weight: 900;
    font-style: normal;
    
}

/* additional families for other components that you target by class*/
.roboto-light { 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.orbitron {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700; /* Optional: set the font weight you prefer */
}

h3 {
    font-size: 2em;
    margin-bottom: 6px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}

.team-scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red{
    color: #F94F6D;
    font-size: 66px;
    margin: 0px;
}

.light-blue button{
    color: #9AABD8;
    background-color: rgb(27,36,74);
    border: 1px solid #9AABD8;
    padding: 10px;
}

.light-blue button:hover{

    border: 5px solid #F94F6D;
    padding:5px;
}

.black-background{
    background-color: #080001;
    width:120px;
    height:85px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;;
}

.lakers-logo-img{
    width: 300px;
}

.white{
color: #EEEEEE;
}

.timer{
    position: relative;
    text-align: center;
}

.time{
    font-size: 0.9em;
}

/* RESET SCOREBOARD 1 */
.scoreboard-1{
    position: relative;
}

.return-icon-1{
    position: absolute;
    width: 20px;
    height: 20px;
    left: -31px;
    top: 193px;
}

.return-icon-1:hover{
    border: 1px solid #F94F6D;
    cursor: pointer;
    padding:3px
}

/* RESET SCOREBOARD 2 */
.scoreboard-2{
    position: relative;
}

.return-icon-2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: -27px;
    top: 193px;
}

.return-icon-2:hover{
    border: 1px solid #F94F6D;
    cursor: pointer;
    padding:3px
}

/* TIMER RESET */

.timer-section{
    display: flex;
    justify-content: center;
}

.timer-annuler{
    position: absolute;
    width: 20px;
    height: 20px;
    left: -28px;
    top: 86px;
}

.timer-annuler:hover{
    border: 1px solid #F94F6D;
    cursor: pointer;
    padding:3px
}

.all-annuler{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right:20px;
}